.flag{
  height: 600px;
  width: 1000px;
  background-color: green;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  margin-top: 200px;

}
.circle{
  background-color: red;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin-top:150px;
}

.egg{
  width: 1000px;
  height: 700px;
  border-radius: 50%;
  background-color: rgb(205, 77, 17);
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.kusum{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(242, 222, 45);
  margin:200px 0px;
}